In [37]:
import pandas as pd

In [38]:
DP01 = pd.read_csv('data/wmo_normals_9120_DP01.csv')
MNVP = pd.read_csv('data/wmo_normals_9120_MNVP.csv')
MSLP = pd.read_csv('data/wmo_normals_9120_MSLP.csv')
PRCP = pd.read_csv('data/wmo_normals_9120_PRCP.csv')
TAVG = pd.read_csv('data/wmo_normals_9120_TAVG.csv')
TMAX = pd.read_csv('data/wmo_normals_9120_TMAX.csv')
TMIN = pd.read_csv('data/wmo_normals_9120_TMIN.csv')
TSUN = pd.read_csv('data/wmo_normals_9120_TSUN.csv')

# 데이터 로드 및 전처리
datasets = [DP01, MNVP, MSLP, PRCP, TAVG, TMAX, TMIN, TSUN]

def clean_columns(df):
    df.columns = df.columns.str.strip()
    return df

datasets = [clean_columns(df) for df in datasets]
all_data = pd.concat(datasets, ignore_index=True)

all_data

,Elem,Rgn,ID,WIGOS_ID,Latitude,Longitude,Elevation,Country,Station,Jan,...,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual
0,2,1,60620,0-20000-0-60620,27.837,-0.194,279.2,Algeria,Adrar,0.4,...,0.3,0.2,0.1,0.1,0.3,0.5,0.4,0.4,0.1,3.4
1,2,1,60560,0-20000-0-60560,32.752,-0.594,1076.0,Algeria,AinSefra,2.8,...,2.5,2.1,1.4,1.1,2.9,3.7,3.2,2.9,2.3,30.4
2,2,1,60390,0-20000-0-60390,36.690,3.217,25.0,Algeria,AlgerDarElBeida,8.4,...,6.1,4.3,1.4,0.4,1.4,4.0,5.4,9.2,8.2,64.5
3,2,1,60360,0-20000-0-60360,36.822,7.803,3.0,Algeria,Annaba,10.3,...,7.0,4.7,2.0,0.6,1.8,6.2,7.2,10.0,10.8,79.0
4,2,1,60468,0-20000-0-60468,35.761,6.320,821.3,Algeria,Batna,5.1,...,5.2,5.1,2.2,1.7,3.0,4.6,4.2,4.3,5.2,50.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37278,8,6,3302,,53.252,-4.536,10.0,United_Kingdom,Valley,60.6,...,181.8,233.4,219.3,205.5,187.9,150.7,107.9,62.6,48.3,1674.8
37279,8,6,3377,,53.175,-0.523,68.0,United_Kingdom,Waddington,62.2,...,168.2,211.6,190.8,206.3,192.0,146.7,109.3,71.3,61.2,1631.2
37280,8,6,3590,,52.124,0.957,89.0,United_Kingdom,Wattisham,64.4,...,183.0,217.1,213.8,218.3,203.4,160.2,116.8,75.4,60.4,1721.5
37281,8,6,3462,,52.612,-0.468,74.0,United_Kingdom,Wittering,63.4,...,167.9,204.9,195.3,207.1,192.9,151.8,113.0,73.7,64.2,1645.2
37282,8,6,3853,,51.006,-2.643,20.0,United_Kingdom,Yeovilton,59.5,...,170.5,202.2,199.8,205.3,185.5,149.2,107.6,71.6,53.5,1605.8

In [39]:
all_data = all_data.drop(columns=['Rgn', 'ID', 'WIGOS_ID', 'Elevation', 'Annual'])

# 파라미터 매핑 및 이름 수정
param_map = {
    1: 'Precipitation (mm)',
    2: 'Number of Days with Precipitation ≥ 1 mm (#Days)',
    3: 'Mean Daily Maximum Temperature (degC)',
    4: 'Mean Daily Minimum Temperature (degC)',
    5: 'Mean Daily Mean Temperature (degC)',
    6: 'Mean Sea Level Pressure (hPa)',
    7: 'Mean Vapor Pressure (hPa)',
    8: 'Total Number of Hours of Sunshine (Hours)'
}
# 데이터에 Parameter 이름 적용
all_data['Parameter'] = all_data['Elem'].map(param_map)
all_data

,Elem,Latitude,Longitude,Country,Station,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Parameter
0,2,27.837,-0.194,Algeria,Adrar,0.4,0.3,0.3,0.3,0.2,0.1,0.1,0.3,0.5,0.4,0.4,0.1,Number of Days with Precipitation ≥ 1 mm (#Days)
1,2,32.752,-0.594,Algeria,AinSefra,2.8,2.4,3.1,2.5,2.1,1.4,1.1,2.9,3.7,3.2,2.9,2.3,Number of Days with Precipitation ≥ 1 mm (#Days)
2,2,36.690,3.217,Algeria,AlgerDarElBeida,8.4,8.7,7.0,6.1,4.3,1.4,0.4,1.4,4.0,5.4,9.2,8.2,Number of Days with Precipitation ≥ 1 mm (#Days)
3,2,36.822,7.803,Algeria,Annaba,10.3,10.2,8.2,7.0,4.7,2.0,0.6,1.8,6.2,7.2,10.0,10.8,Number of Days with Precipitation ≥ 1 mm (#Days)
4,2,35.761,6.320,Algeria,Batna,5.1,4.6,5.5,5.2,5.1,2.2,1.7,3.0,4.6,4.2,4.3,5.2,Number of Days with Precipitation ≥ 1 mm (#Days)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37278,8,53.252,-4.536,United_Kingdom,Valley,60.6,85.1,131.7,181.8,233.4,219.3,205.5,187.9,150.7,107.9,62.6,48.3,Total Number of Hours of Sunshine (Hours)
37279,8,53.175,-0.523,United_Kingdom,Waddington,62.2,86.0,125.6,168.2,211.6,190.8,206.3,192.0,146.7,109.3,71.3,61.2,Total Number of Hours of Sunshine (Hours)
37280,8,52.124,0.957,United_Kingdom,Wattisham,64.4,83.4,125.3,183.0,217.1,213.8,218.3,203.4,160.2,116.8,75.4,60.4,Total Number of Hours of Sunshine (Hours)
37281,8,52.612,-0.468,United_Kingdom,Wittering,63.4,86.2,124.8,167.9,204.9,195.3,207.1,192.9,151.8,113.0,73.7,64.2,Total Number of Hours of Sunshine (Hours)
37282,8,51.006,-2.643,United_Kingdom,Yeovilton,59.5,79.5,121.6,170.5,202.2,199.8,205.3,185.5,149.2,107.6,71.6,53.5,Total Number of Hours of Sunshine (Hours)

In [43]:
# Save the all_data DataFrame to a new CSV file
all_data.to_csv('all_data.csv', index=False)

# Load the saved CSV file into a new DataFrame
all_data_loaded = pd.read_csv('all_data.csv')

# Display the loaded DataFrame
all_data_loaded

,Elem,Latitude,Longitude,Country,Station,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Parameter
0,2,27.837,-0.194,Algeria,Adrar,0.4,0.3,0.3,0.3,0.2,0.1,0.1,0.3,0.5,0.4,0.4,0.1,Number of Days with Precipitation ≥ 1 mm (#Days)
1,2,32.752,-0.594,Algeria,AinSefra,2.8,2.4,3.1,2.5,2.1,1.4,1.1,2.9,3.7,3.2,2.9,2.3,Number of Days with Precipitation ≥ 1 mm (#Days)
2,2,36.690,3.217,Algeria,AlgerDarElBeida,8.4,8.7,7.0,6.1,4.3,1.4,0.4,1.4,4.0,5.4,9.2,8.2,Number of Days with Precipitation ≥ 1 mm (#Days)
3,2,36.822,7.803,Algeria,Annaba,10.3,10.2,8.2,7.0,4.7,2.0,0.6,1.8,6.2,7.2,10.0,10.8,Number of Days with Precipitation ≥ 1 mm (#Days)
4,2,35.761,6.320,Algeria,Batna,5.1,4.6,5.5,5.2,5.1,2.2,1.7,3.0,4.6,4.2,4.3,5.2,Number of Days with Precipitation ≥ 1 mm (#Days)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37278,8,53.252,-4.536,United_Kingdom,Valley,60.6,85.1,131.7,181.8,233.4,219.3,205.5,187.9,150.7,107.9,62.6,48.3,Total Number of Hours of Sunshine (Hours)
37279,8,53.175,-0.523,United_Kingdom,Waddington,62.2,86.0,125.6,168.2,211.6,190.8,206.3,192.0,146.7,109.3,71.3,61.2,Total Number of Hours of Sunshine (Hours)
37280,8,52.124,0.957,United_Kingdom,Wattisham,64.4,83.4,125.3,183.0,217.1,213.8,218.3,203.4,160.2,116.8,75.4,60.4,Total Number of Hours of Sunshine (Hours)
37281,8,52.612,-0.468,United_Kingdom,Wittering,63.4,86.2,124.8,167.9,204.9,195.3,207.1,192.9,151.8,113.0,73.7,64.2,Total Number of Hours of Sunshine (Hours)
37282,8,51.006,-2.643,United_Kingdom,Yeovilton,59.5,79.5,121.6,170.5,202.2,199.8,205.3,185.5,149.2,107.6,71.6,53.5,Total Number of Hours of Sunshine (Hours)

---
---

In [45]:
import pandas as pd
import altair as alt
from ipywidgets import interact, widgets
import numpy as np
from vega_datasets import data

all_data = pd.read_csv('all_data.csv')

# Altair 데이터 변환 설정
alt.data_transformers.disable_max_rows()

unit_map = {
    'Precipitation': 'mm',
    'Number of Days with Precipitation ≥ 1 mm': '#Days',
    'Mean Daily Maximum Temperature': 'degC',
    'Mean Daily Minimum Temperature': 'degC',
    'Mean Daily Mean Temperature': 'degC',
    'Mean Sea Level Pressure': 'hPa',
    'Mean Vapor Pressure': 'hPa',
    'Total Number of Hours of Sunshine': 'Hours'
}

months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# Vega Datasets의 세계 지도 데이터 로드
world_map = alt.topo_feature(data.world_110m.url, feature="countries")

# 슬라이더 범위를 업데이트하는 함수
def update_sliders(selected_month, selected_param):
    # 특정 파라미터에 대해 최소값을 0으로 설정
    fixed_zero_params = [
        'Precipitation',
        'Number of Days with Precipitation ≥ 1 mm',
        'Mean Sea Level Pressure',
        'Mean Vapor Pressure',
        'Total Number of Hours of Sunshine'
    ]

    # 데이터 필터링
    filtered = all_data[all_data['Parameter'] == selected_param]
    valid_values = filtered[selected_month].dropna()  # NaN 무시
    
    # 최소값과 최대값 계산
    min_value = valid_values.min()
    max_value = valid_values.max()
    
    # 특정 파라미터의 경우 최소값을 0으로 강제 설정
    param_name = selected_param.split(' (')[0]  # 이름에서 단위 제거
    if param_name in fixed_zero_params:
        min_value = 0  # 최소값을 0으로 설정

    # 단위 가져오기
    unit = unit_map[param_name]
    return min_value, max_value, unit


# 데이터 필터링 및 지도 업데이트 함수
def update_plot(selected_month, selected_param, min_val, max_val):
    # 선택한 월과 파라미터로 데이터 필터링
    filtered = all_data[
        (all_data['Parameter'] == selected_param) &
        (all_data[selected_month] >= min_val) &
        (all_data[selected_month] <= max_val)
    ]

    # Altair 지도 생성
    background = alt.Chart(world_map).mark_geoshape(
        fill='lightgray',
        stroke='white'
    ).project('naturalEarth1').properties(
        width=800,
        height=400
    )

    points = alt.Chart(filtered).mark_circle(size=60, color='red').encode(
        longitude='Longitude:Q',
        latitude='Latitude:Q',
        tooltip=[
            'Station:N',
            'Country:N',
            alt.Tooltip(f'{selected_month}:Q', title=selected_param),
            alt.Tooltip('Latitude:Q', title='Latitude'),
            alt.Tooltip('Longitude:Q', title='Longitude')
        ]
    )

    chart = background + points
    return chart

# 위젯 구성
month_dropdown = widgets.Dropdown(
    options=months,
    value='Dec',
    description='Month:'
)

param_dropdown = widgets.Dropdown(
    options=list(param_map.values()),
    value='Mean Daily Minimum Temperature (degC)',
    description='Parameter:'
)

min_slider = widgets.IntSlider(value=15, min=0, max=50, step=1)
max_slider = widgets.IntSlider(value=20, min=0, max=50, step=1)

# 슬라이더에 단위 표시
def update_slider_description(slider, value):
    slider.layout = widgets.Layout(display='flex', justify_content='space-between')
    slider.description = f"{value}"

def on_param_or_month_change(change):
    # 선택한 Month와 Parameter 가져오기
    selected_month = month_dropdown.value
    selected_param = param_dropdown.value
    
    # 슬라이더의 min, max, 단위 업데이트
    min_value, max_value, unit = update_sliders(selected_month, selected_param)
    min_slider.min = int(min_value)
    min_slider.max = int(max_value)
    max_slider.min = int(min_value)
    max_slider.max = int(max_value)
    min_slider.value = int(min_value)
    max_slider.value = int(max_value)
    update_slider_description(min_slider, 'Min Val')
    update_slider_description(max_slider, 'Max Val')

# Month와 Parameter 변경 이벤트 리스너
month_dropdown.observe(on_param_or_month_change, names='value')
param_dropdown.observe(on_param_or_month_change, names='value')

# 최종 인터랙티브 구성
def display_chart(selected_month, selected_param, min_val, max_val):
    chart = update_plot(selected_month, selected_param, min_val, max_val)
    chart.display()

interact(
    display_chart,
    selected_month=month_dropdown,
    selected_param=param_dropdown,
    min_val=min_slider,
    max_val=max_slider
)

interactive(children=(Dropdown(description='Month:', index=11, options=('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Ju…

In [25]:
import pandas as pd
import altair as alt
from ipywidgets import interact, widgets
import numpy as np
from vega_datasets import data

# Altair 데이터 변환 설정
alt.data_transformers.disable_max_rows()

DP01 = pd.read_csv('data/wmo_normals_9120_DP01.csv')
MNVP = pd.read_csv('data/wmo_normals_9120_MNVP.csv')
MSLP = pd.read_csv('data/wmo_normals_9120_MSLP.csv')
PRCP = pd.read_csv('data/wmo_normals_9120_PRCP.csv')
TAVG = pd.read_csv('data/wmo_normals_9120_TAVG.csv')
TMAX = pd.read_csv('data/wmo_normals_9120_TMAX.csv')
TMIN = pd.read_csv('data/wmo_normals_9120_TMIN.csv')
TSUN = pd.read_csv('data/wmo_normals_9120_TSUN.csv')

# 데이터 로드 및 전처리
datasets = [DP01, MNVP, MSLP, PRCP, TAVG, TMAX, TMIN, TSUN]

def clean_columns(df):
    df.columns = df.columns.str.strip()
    return df

datasets = [clean_columns(df) for df in datasets]
all_data = pd.concat(datasets, ignore_index=True)

# 파라미터 매핑 및 이름 수정
param_map = {
    1: 'Precipitation (mm)',
    2: 'Number of Days with Precipitation ≥ 1 mm (#Days)',
    3: 'Mean Daily Maximum Temperature (degC)',
    4: 'Mean Daily Minimum Temperature (degC)',
    5: 'Mean Daily Mean Temperature (degC)',
    6: 'Mean Sea Level Pressure (hPa)',
    7: 'Mean Vapor Pressure (hPa)',
    8: 'Total Number of Hours of Sunshine (Hours)'
}

unit_map = {
    'Precipitation': 'mm',
    'Number of Days with Precipitation ≥ 1 mm': '#Days',
    'Mean Daily Maximum Temperature': 'degC',
    'Mean Daily Minimum Temperature': 'degC',
    'Mean Daily Mean Temperature': 'degC',
    'Mean Sea Level Pressure': 'hPa',
    'Mean Vapor Pressure': 'hPa',
    'Total Number of Hours of Sunshine': 'Hours'
}

# 데이터에 Parameter 이름 적용
all_data['Parameter'] = all_data['Elem'].map(param_map)

all_data

,Elem,Rgn,ID,WIGOS_ID,Latitude,Longitude,Elevation,Country,Station,Jan,...,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,Parameter
0,2,1,60620,0-20000-0-60620,27.837,-0.194,279.2,Algeria,Adrar,0.4,...,0.2,0.1,0.1,0.3,0.5,0.4,0.4,0.1,3.4,Number of Days with Precipitation ≥ 1 mm (#Days)
1,2,1,60560,0-20000-0-60560,32.752,-0.594,1076.0,Algeria,AinSefra,2.8,...,2.1,1.4,1.1,2.9,3.7,3.2,2.9,2.3,30.4,Number of Days with Precipitation ≥ 1 mm (#Days)
2,2,1,60390,0-20000-0-60390,36.690,3.217,25.0,Algeria,AlgerDarElBeida,8.4,...,4.3,1.4,0.4,1.4,4.0,5.4,9.2,8.2,64.5,Number of Days with Precipitation ≥ 1 mm (#Days)
3,2,1,60360,0-20000-0-60360,36.822,7.803,3.0,Algeria,Annaba,10.3,...,4.7,2.0,0.6,1.8,6.2,7.2,10.0,10.8,79.0,Number of Days with Precipitation ≥ 1 mm (#Days)
4,2,1,60468,0-20000-0-60468,35.761,6.320,821.3,Algeria,Batna,5.1,...,5.1,2.2,1.7,3.0,4.6,4.2,4.3,5.2,50.7,Number of Days with Precipitation ≥ 1 mm (#Days)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37278,8,6,3302,,53.252,-4.536,10.0,United_Kingdom,Valley,60.6,...,233.4,219.3,205.5,187.9,150.7,107.9,62.6,48.3,1674.8,Total Number of Hours of Sunshine (Hours)
37279,8,6,3377,,53.175,-0.523,68.0,United_Kingdom,Waddington,62.2,...,211.6,190.8,206.3,192.0,146.7,109.3,71.3,61.2,1631.2,Total Number of Hours of Sunshine (Hours)
37280,8,6,3590,,52.124,0.957,89.0,United_Kingdom,Wattisham,64.4,...,217.1,213.8,218.3,203.4,160.2,116.8,75.4,60.4,1721.5,Total Number of Hours of Sunshine (Hours)
37281,8,6,3462,,52.612,-0.468,74.0,United_Kingdom,Wittering,63.4,...,204.9,195.3,207.1,192.9,151.8,113.0,73.7,64.2,1645.2,Total Number of Hours of Sunshine (Hours)
37282,8,6,3853,,51.006,-2.643,20.0,United_Kingdom,Yeovilton,59.5,...,202.2,199.8,205.3,185.5,149.2,107.6,71.6,53.5,1605.8,Total Number of Hours of Sunshine (Hours)

In [ ]:
import pandas as pd
import altair as alt
from ipywidgets import interact, widgets
import numpy as np
from vega_datasets import data

# Altair 데이터 변환 설정
alt.data_transformers.disable_max_rows()

DP01 = pd.read_csv('data/wmo_normals_9120_DP01.csv')
MNVP = pd.read_csv('data/wmo_normals_9120_MNVP.csv')
MSLP = pd.read_csv('data/wmo_normals_9120_MSLP.csv')
PRCP = pd.read_csv('data/wmo_normals_9120_PRCP.csv')
TAVG = pd.read_csv('data/wmo_normals_9120_TAVG.csv')
TMAX = pd.read_csv('data/wmo_normals_9120_TMAX.csv')
TMIN = pd.read_csv('data/wmo_normals_9120_TMIN.csv')
TSUN = pd.read_csv('data/wmo_normals_9120_TSUN.csv')

# 데이터 로드 및 전처리
datasets = [DP01, MNVP, MSLP, PRCP, TAVG, TMAX, TMIN, TSUN]

def clean_columns(df):
    df.columns = df.columns.str.strip()
    return df

datasets = [clean_columns(df) for df in datasets]
all_data = pd.concat(datasets, ignore_index=True)

# 파라미터 매핑 및 이름 수정
param_map = {
    1: 'Precipitation (mm)',
    2: 'Number of Days with Precipitation ≥ 1 mm (#Days)',
    3: 'Mean Daily Maximum Temperature (degC)',
    4: 'Mean Daily Minimum Temperature (degC)',
    5: 'Mean Daily Mean Temperature (degC)',
    6: 'Mean Sea Level Pressure (hPa)',
    7: 'Mean Vapor Pressure (hPa)',
    8: 'Total Number of Hours of Sunshine (Hours)'
}

unit_map = {
    'Precipitation': 'mm',
    'Number of Days with Precipitation ≥ 1 mm': '#Days',
    'Mean Daily Maximum Temperature': 'degC',
    'Mean Daily Minimum Temperature': 'degC',
    'Mean Daily Mean Temperature': 'degC',
    'Mean Sea Level Pressure': 'hPa',
    'Mean Vapor Pressure': 'hPa',
    'Total Number of Hours of Sunshine': 'Hours'
}

# 데이터에 Parameter 이름 적용
all_data['Parameter'] = all_data['Elem'].map(param_map)

all_datamonths = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# Vega Datasets의 세계 지도 데이터 로드
world_map = alt.topo_feature(data.world_110m.url, feature="countries")

# 슬라이더 범위를 업데이트하는 함수
def update_sliders():
    slider_dict = {}
    for param, param_name in param_map.items():
        filtered = all_data[all_data['Parameter'] == param_name]
        slider_dict[param_name] = {
            "min": filtered[months].min().min(),  # 각 파라미터 전체 최소값
            "max": filtered[months].max().max()   # 각 파라미터 전체 최대값
        }
    return slider_dict

# 데이터 필터링 및 지도 업데이트 함수
def update_plot(selected_month, param_values):
    filtered = all_data
    for param_name, value_range in param_values.items():
        min_val, max_val = value_range
        # 선택된 월과 파라미터의 조건에 맞는 데이터 필터링
        filtered = filtered[
            (filtered['Parameter'] == param_name) &
            (filtered[selected_month] >= min_val) &
            (filtered[selected_month] <= max_val)
        ]

    # Altair 지도 생성
    background = alt.Chart(world_map).mark_geoshape(
        fill='lightgray',
        stroke='white'
    ).project('naturalEarth1').properties(
        width=800,
        height=400
    )

    points = alt.Chart(filtered).mark_circle(size=60, color='red').encode(
        longitude='Longitude:Q',
        latitude='Latitude:Q',
        tooltip=[
            'Station:N',
            'Country:N',
            alt.Tooltip(f'{selected_month}:Q', title='Selected Value'),
            alt.Tooltip('Latitude:Q', title='Latitude'),
            alt.Tooltip('Longitude:Q', title='Longitude')
        ]
    )

    chart = background + points
    return chart

# 슬라이더 초기화
slider_dict = update_sliders()

month_dropdown = widgets.Dropdown(
    options=months,
    value='Dec',
    description='Month:'
)

# 각 파라미터에 대해 구간 슬라이더(FloatRangeSlider) 생성
range_sliders = {}
for param_name, limits in slider_dict.items():
    range_sliders[param_name] = widgets.FloatRangeSlider(
        value=[limits["min"], limits["max"]],
        min=limits["min"],
        max=limits["max"],
        step=0.1,
        description=param_name,
        layout=widgets.Layout(width='80%')
    )

# 최종 인터랙티브 구성
def display_chart(selected_month, **param_values):
    # 파라미터 값을 추출하여 필터링용 딕셔너리 생성
    param_values_dict = {}
    for param_name in param_map.values():
        param_values_dict[param_name] = param_values[param_name]
    chart = update_plot(selected_month, param_values_dict)
    chart.display()

# Interact 호출
interact(
    display_chart,
    selected_month=month_dropdown,
    **{
        param_name: range_sliders[param_name]
        for param_name in param_map.values()
    }
)

interactive(children=(Dropdown(description='Month:', index=11, options=('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Ju…

In [27]:
print(all_data['Parameter'].unique())  # 고유값 확인

['Number of Days with Precipitation ≥ 1 mm (#Days)'
 'Mean Vapor Pressure (hPa)' 'Mean Sea Level Pressure (hPa)'
 'Precipitation (mm)' 'Mean Daily Mean Temperature (degC)'
 'Mean Daily Maximum Temperature (degC)'
 'Mean Daily Minimum Temperature (degC)'
 'Total Number of Hours of Sunshine (Hours)']

In [28]:
# 슬라이더 범위를 업데이트하는 함수 (선택된 달 기준)
def update_sliders(selected_month):
    slider_dict = {}
    for param, param_name in param_map.items():
        # 선택된 달의 데이터만 고려
        filtered = all_data[all_data['Parameter'] == param_name]
        slider_dict[param_name] = {
            "min": filtered[selected_month].min(),  # 선택된 달의 최소값
            "max": filtered[selected_month].max()   # 선택된 달의 최대값
        }
    return slider_dict

# 데이터 필터링 및 지도 업데이트 함수
def update_plot(selected_month, param_values):
    filtered = all_data
    for param_name, value_range in param_values.items():
        min_val, max_val = value_range
        # 선택된 월과 파라미터의 조건에 맞는 데이터 필터링
        filtered = filtered[
            (filtered['Parameter'] == param_name) &
            (filtered[selected_month] >= min_val) &
            (filtered[selected_month] <= max_val)
        ]

    # Altair 지도 생성
    background = alt.Chart(world_map).mark_geoshape(
        fill='lightgray',
        stroke='white'
    ).project('naturalEarth1').properties(
        width=800,
        height=400
    )

    points = alt.Chart(filtered).mark_circle(size=60, color='red').encode(
        longitude='Longitude:Q',
        latitude='Latitude:Q',
        tooltip=[
            'Station:N',
            'Country:N',
            alt.Tooltip(f'{selected_month}:Q', title='Selected Value'),
            alt.Tooltip('Latitude:Q', title='Latitude'),
            alt.Tooltip('Longitude:Q', title='Longitude')
        ]
    )

    chart = background + points
    return chart

# 월 선택 위젯
month_dropdown = widgets.Dropdown(
    options=all_datamonths,
    value='Dec',
    description='Month:'
)

# 슬라이더 초기화 (초기 선택된 달로 설정)
selected_month = 'Dec'  # 기본값 설정
slider_dict = update_sliders(selected_month)

# 각 파라미터에 대해 구간 슬라이더(FloatRangeSlider) 생성
range_sliders = {}
for param_name, limits in slider_dict.items():
    range_sliders[param_name] = widgets.FloatRangeSlider(
        value=[limits["min"], limits["max"]],
        min=limits["min"],
        max=limits["max"],
        step=0.1,
        description=param_name,
        layout=widgets.Layout(width='80%')
    )

# 월 변경 시 슬라이더 업데이트
def on_month_change(change):
    global range_sliders
    new_month = change['new']
    slider_dict = update_sliders(new_month)
    
    # 슬라이더 값 업데이트
    for param_name, slider in range_sliders.items():
        slider.min = slider_dict[param_name]["min"]
        slider.max = slider_dict[param_name]["max"]
        slider.value = [slider_dict[param_name]["min"], slider_dict[param_name]["max"]]

# 월 변경 이벤트 핸들러
month_dropdown.observe(on_month_change, names='value')

# 최종 인터랙티브 구성
def display_chart(selected_month, **param_values):
    # 파라미터 값을 추출하여 필터링용 딕셔너리 생성
    param_values_dict = {}
    for param_name in param_map.values():
        param_values_dict[param_name] = param_values[param_name]
    chart = update_plot(selected_month, param_values_dict)
    chart.display()

# Interact 호출
interact(
    display_chart,
    selected_month=month_dropdown,
    **{
        param_name: range_sliders[param_name]
        for param_name in param_map.values()
    }
)

interactive(children=(Dropdown(description='Month:', index=11, options=('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Ju…